.my-assess-icons{
    display: flex;
        padding-left: 0px;
        list-style: none;
        padding-top: 10px;
        li{
            padding-right: 10px;
            cursor: pointer;
        img{
            width: 25px;
            height: 25px;;
        }
        span{
            font-size: 12px;
        }

    }
}
