.order_content {
  margin-top: 100px;
  .thank {
    span {
      font-size: 13px;
    }
  }
  .order_common {
    margin-top: 10px;
    font-size: 13px;
    &_item {
      padding-bottom: 20px;
      padding-top: 20px;
      border-bottom: 1px dotted #c6c6c6;
      .info {
        font-weight: 500;
      }
    }
  }
  .order_detail {
    margin-top: 30px;
    .title {
      margin-bottom: 20px;
      h2 {
        font-size: 45px;
      }
    }
    table {
      .price,
      .sub_title {
        font-weight: 500;
      }
      .price {
        font-size: 17px;
      }
      thead {
        tr {
          th {
            padding-left: 0px;
            font-size: 13px;
            border: none;
          }
        }
      }
      tbody {
        tr {
          td,
          th {
            padding-left: 0px;
            font-size: 13px;
            border-top: 1px dotted #c6c6c6;
            padding-top: 20px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
