.home_banner {
  height: 700px;
  margin-top: 50px;
  text-align: center;
  vertical-align: middle;
  &_title {
    color: #ffffff;
    padding: 250px 0px;
    h1 {
      font-size: 70px;
      font-weight: 500;
    }
    h5 {
      font-size: 25px;
    }
  }
}
